@import url("http://fonts.cdnfonts.com/css/montserrat");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.home-page {
  position: relative;
  width: 100%;
  height: 100vh;
}

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  z-index: 2;
}
.logo a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.menu {
  position: absolute;
  height: 100vh;
  width: 60vh;
  background-color: #1f1f2a;
  top: 0;
  right: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}
.menu.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
}

.menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu ul li {
  list-style: none;
  margin: 22px 0;
}

.menu ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin: 60px 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu ul li a:hover {
  color: #a6a6a7;
}
.menu ul li a::before {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #a6a6a7;
  transition: 0.3s ease;
}
.menu ul li a::before {
  left: 50%;
  transform: translateX(-50%);
}
.menu ul li a::after {
  right: 50%;
  transform: translatex(50%);
}
.menu ul li a:hover::before,
menu ul li a:hover::after {
  width: 100%;
}

.close-icon {
  position: absolute;
  top: -18vh;
  right: -8vh;
  color: #fff;
  cursor: pointer;
}
.close-icon i {
  font-size: 2rem;
  transition: 0.3s ease;
}
.close-icon i:hover {
  transform: rotate(120deg);
}

.open-icon i {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.open-icon i:hover {
  transition: scale(1.2);
}

.home-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #1f1f2a;
}

.swiper-css {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1205px;
  height: 550px;
  background-color: red;
}
.swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.slide-content .content {
  position: absolute;
  top: 22vh;
  left: 35vh;
  z-index: 2;
  display: flex;
}

.slide-content .content .serial {
  font-size: 6rem;
  font-weight: 600 rem;
  width: 11vh;
  height: 14vh;
  padding: -1px 12px;
  background-color: rgb(252, 252, 124);
}

.slide-content .content .info {
  position: relative;
  top: 5px;
  left: 30px;
}
.slide-content .content .info h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-transform: capitalize;
}

.slide-content .content .info .btn {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  top: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.slide-content .content .info .btn:hover {
  color: rgb(202, 200, 200);
}

.slide-content .content .info .btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: #fff;
}

.short-note {
  position: absolute;
  right: 12vh;
  bottom: 0;
  color: #fff;
  display: flex;
  z-index: 1;
  width: 100vh;
  height: 30vh;
  background-color: #1f1f2a;
}

.short-note .design {
  display: flex;
}

.short-note .design .entertain {
  font-size: 16px;
  color: #a6a6a7;
  font-weight: 300;
  padding: 70px 25px;
  position: relative;
}

.short-note .design .entertain::before {
  position: absolute;
  content: "";
  top: 35px;
  right: 12px;
  height: 90px;
  width: 1px;
  background-color: #a6a6a7;
}

.short-note .design span {
  position: absolute;
  top: 5vh;
}

.short-note .award .year {
  position: absolute;
  top: 5vh;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0 25px;
  color: rgb(252, 252, 124);
}

.short-note .award .details {
  font-size: 14px;
  line-height: 1.5;
  color: #a6a6a7;
  font-size: 300;
  padding: 70px 25px;
  text-transform: uppercase;
}

.slidebtn {
  position: absolute;
  top: 80vh;
  color: #fff;
  z-index: 2;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font: 16px;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #1f1f2a;
  margin: 0 25px;
  left: 184vh;
  z-index: -1;
}

.about-page {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  background-color: #1f1f2a;
  padding: 20px 70px;
}
.expirience {
  position: relative;
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.expirience .years {
  position: relative;
  display: flex;
}

.expirience .years .numbers {
  font-size: 3.5rem;
  font-weight: bold;
  color: yellow;
}

.expirience .years .year {
  font-size: 16px;
  padding: 0 12px;
  font-weight: 600;
  position: relative;
  top: 16px;
}

.expirience .sinces {
  padding: 0 15px;
}

.expirience .sinces .since {
  font-size: 14px;
  font-weight: 400;
  color: #a6a6a7;
  text-transform: uppercase;
}
.expirience .since h2 {
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
}

.expirience .exp-details {
  position: relative;
}

.expirience .exp-details .exp-info {
  font-size: 14px;
  font-weight: 500;
  color: #a6a6a7;
  line-height: 1.6;
}

.expirience .exp-details .about {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #a6a6a7;
  position: relative;
  transition: 0.3s ease;
  position: relative;
}

.expirience .exp-details .about:hover {
  color: rgb(252, 252, 125);
}
.expirience .exp-details .about::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #a6a6a7;
  transition: 0.3s ease;
}

.expirience .exp-details .about:hover::before {
  background-color: rgb(252, 252, 125);
}

.service-page {
  position: relative;
  width: 100%;
  height: 420px;
  background-color: #1f1f2a;
  padding: 0 15px;
}

.service-page .service-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(252, 252, 125);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.service-page .service-title::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background-color: #a6a6a7;
}

.service-boxes {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.service-boxes .service-box {
  position: relative;
  top: 60px;
  width: 342px;
  height: 300px;
  background-color: #fff;
  margin: 0 14px;
  overflow: hidden;
}
.service-boxes .service-box::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(0,0,0.3); */
  z-index: 2;
}
.service-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  transition: 2s ease-in-out;
}

.service-box:hover img {
  transform: scale(1.5);
}

.service-info {
  position: absolute;
  top: 0;
  z-index: 999;
  color: #fff;
}
.service-info .name {
  padding: 60px 80px;
  color: #fff;
  font-weight: 600;
  line-height: 1.1;
}

.service-info a {
  padding: 10px 11px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  top: 20vh;
  left: 40px;
  transform: scale(1.1);
  opacity: 1;
  transition: 0.3s ease;
}

.service-box:hover a{
  transform: scale(0);
  opacity: 0;
}
.service-info a i{
  font-size: 18px;
  color: #1f1f2a;
}
.service-info .hidden-part{
  position: relative;
  padding: 30px 60px;
  transform: translateY(40px);
  transition: 1s ease;
  opacity: 0;
}
.service-box:hover .hidden-part {
  transform: translateY(0px);
  opacity: 1;
}
.service-info .hidden-part .text {
  color: #a6a6a7;
  font-size: 1;
  font-weight: 500;
  line-height: 1.5;
}
.service-info .hidden-part .see-btn{
  padding: 12px 0;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgb(255, 255, 0, 0.498);
  cursor: pointer;
  transition: 0.3s;
}

.service-info .hidden-part .see-btn:hover {
  color: yellow;
}

.service-info .hidden-part .see-btn i{
  position: relative;
  top: 3px;
  font-size: 18px;
}

.video-page{
  z-index: 9999;
  position: relative;
  width:100%;
  height:40vh;
  color: #fff;
  background-color: #1f1f2a;
  padding:30px 60px; 
  /* margin-top: 50px; */
}

.video-page .notes{
  position: relative;
  display:flex;
  justify-content: space-around;  
}

.video-page .notes .note h1{
  font-size:22px;
  color: #fff;
  font-weight:500;
  line-height:1.5; 
}

.video-page .notes .owner{
  position: relative;
}

.video-page .notes .owner h2{
  font-size:14px;
  letter-spacing:2px;
  color: #fff;
  text-transform: uppercase;
}

.video-page .notes .owner p{
  font-size:14px;
  padding:16px 0;
  line-height:1.5;
  color: #A6A6A7;
}


.video-page .notes .creative{
  position: relative;
}


.video-page .notes .creative h2 {
  font-size:14px;
  letter-spacing:2px;
  color: #fff;
  text-transform: uppercase;
}

.video-page .notes .creative p{
  font-size:14px;
  padding:16px 0;
  line-height:1.5;
  color: #A6A6A7;
}

.video{
  position: relative;
  width:100%;
  height:60vh;
  margin: 0;
  
}

.video img{
  width:100%;
  height:60vh;
  object-fit:cover;
  object-position:center;
  position: relative;
  pointer-events:none;
}

.video::before{
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  z-index:2;
   
}

.video a{
  position: absolute;
  top:30vh;
  left:92vh;
  color: #fff;
  z-index:2;
  padding:23px 25px;
  background-color: yellow;
  border-radius:50%;

}

.video a i{
   font-size: 25px;
}

.video .short-box{
  position: absolute;
  bottom:0;
  right:0;
  background-color: #1f1f2a;
  color: #fff;
  width:320px;
  height:120px;
  z-index:2;
}

.video .short-box h1{
  padding:35px 30px;
  font-size:25px;
  font-weight:600;
  transition: 0.3s ease;
}

.video .short-box span{
  color: rgba(255, 255, 0, 0.435);
  position: relative;
  cursor:pointer;
}

.video .short-box span:hover{
  color: yellow;
}
.video .short-box span::before{
  position: absolute;
  content:"";
  bottom: 5px;
  left:0;
  width:100%;
  height:1px;
  background-color: rgba(255, 255, 0, 0.435);  
  transition: 0.3s ease;
}

.video .short-box span:hover::before{
  background-color: yellow;
}

.port{
  position: relative;
  width: 100%;
  height: 60vh;
  background-color: #1f1f2a;
}
.brand{
  background-color: #1f1f2a;
  width: 100%;
  position: relative;
  padding-top: 90px;
  /* padding-bottom: 90px; */
  padding-left: 15px;
  padding-right: 15px;
}
.brand h2{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(252, 252, 125);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 40px;
}


/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.blog-page{
  position: relative;
  padding-bottom: 30vh;
  width:100%;
  height:50vh;
  background-color: #1f1f2a;  
}

.blog-page .title{
  position:absolute;
  top:35px;
  left:50%;
  transform:translate(-50% ,-50%); 
}

.blog-page .title h2{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(252, 252, 125);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 40px;  
}

.blog-page .title h2::before{
  position: absolute;
  /* content:""; */
  left:20px;
  bottom:20px;
  height:2px;
  width:100%;
  background-color: yellow;
}

.blog-page .title h2::after{
  position: absolute;
  /* content:""; */
  right:20px;
  bottom:20px;
  height:2px;
  width:100%;
  background-color: yellow;
}

.blog-boxes{
  position: relative;
  top:10vh;
  bottom:10vh;
  display:flex;
  flex-wrap: wrap;
  padding:0px 60px;  
}

/* .blog-boxes{
  position: relative;
  top:10vh;
  display:flex;
  flex-wrap: wrap;
  padding:0px 60px;  
  padding-bottom: 40px;
}  */

.blog-box img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center;
  transform:scale(1);
  transition:1s ease;
}

.blog-boxes .blog-box img:hover{
  transform: scale(1.3);
}

.blog-boxes .blog-box::before{
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  transition: 1s ease;
  z-index:2;
  opacity: 0;
}
.blog-boxes .blog-box img:hover::before{
  opacity: 1;
}

.blog-boxes .blog-box .blog-info{
 position: absolute;
 top:0; 
}

.blog-boxes .blog-box .blog-info a{
  position: relative;
  top:45px;
  left:25px;
  text-decoration:none;
  padding:10px 18px;
  background-color: rgba(0,0,0,0.8);
  font-size:12px;
  color: #fff;
  font-weight:600;
  text-transform: uppercase;
  transition:0.5s ease;
  z-index:2;
}

.blog-boxes .blog-box:hover .blog-info a{
  background-color: #fff;
  color: #000;
}

.blog-boxes .blog-box .blog-info p{
  position: relative;
  top:18vh;
  left:5.5vh;
  font-size:14px;
  font-weight:600;
  color: #edeee5;
  z-index:2 
}

.blog-boxes .blog-box .blog-info h1{
  position: relative;
  top:23vh;
  left:5.5vh;
  font-size:20px;
  width:35vh;
  color: lufff;
  font-weight:500;
  z-index:2;
}

section {
  width: 100%;
  display: inline-block;
  background: #1f1f2a;
  height: 20vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #1f1f2a;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
  font-family: "Montserrat", sans-serif;
	font: normal 36px, cursive;
	margin: 0;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color: yellow;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #1f1f2a;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
